<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="{{ url_for('static', filename='js/hashPassword.js') }}"></script>
    <title>Password Checker - Check</title>
</head>
<body>
    <div id="title">
        <h2>Password Checker</h2>
    </div>
    <div id="checker">
        <div class="container">
            <div class="instructions-checker">
                <p>Test your password and see if it is as stong as </br>
                the Great Wall of China !</p>
            </div>
            <div class="form">
                <form action="{{ url_for('check_password') }}" method="post" class="password-form", onsubmit="hashPassword(event)">
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <input type="hidden" id="hashed_password" name="hashed_password">
                    <button type="submit" class="check-button">Check</button>
                </form>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <nav>
                <ul>
                    <li><a href= "{{ url_for('index') }}" class="button">Home</a></li>
                    <li><a href= "{{ url_for('check_password') }}" class="button">Check Password</a></li>
                    <li><a href="https://github.com/MathisDS15/Password-Checker" class="button">GitHub</a></li>
                    <li><a href= "{{ url_for('help') }}" class="button">Help</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>